examples/Thingsboard Auth Login.json
[{"id":"e20e441c74b0426e","type":"debug","z":"f8b3404232c6ce7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":380,"wires":[]},{"id":"c8db31c0ae941d37","type":"thingsboard-rest-api-auth","z":"f8b3404232c6ce7e","method":"loginPost","loginPost_body":"","loginPost_bodyType":"str","name":"","x":340,"y":380,"wires":[["e20e441c74b0426e"]]},{"id":"8a61876e9ade710a","type":"inject","z":"f8b3404232c6ce7e","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"username\":\"\", \"password\":\"\"}","payloadType":"json","x":130,"y":380,"wires":[["c8db31c0ae941d37"]]}]